main {
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   width: 900px;
   background-color: #efefef;

   &::after,
   &::before {
      content: "";
      clear: both;
      display: block;
   }
}
