.btn {
   border: none;
   font-size: 2rem;
   cursor: pointer;
}

nav {
   display: flex;
   justify-content: space-around;
   padding: 15px;
   .meal__list {
      text-decoration: none;
      color: #000;
      font-size: 1.5rem;
      cursor: pointer;
      &::first-letter {
         text-transform: uppercase;
      }
   }

   .btn__left {
      @extend .btn;
   }
   .btn__right {
      @extend .btn;
   }
}
